<nav
  class="navbar navbar-expand-sm navbar-dark bg-success fixed-top shadow"
  aria-label="Third navbar example"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      Royal <i class="bi bi-app-indicator"></i> CRM
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarsExample03"
      aria-controls="navbarsExample03"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample03">
      <ul class="navbar-nav mb-2 mb-sm-0 ms-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="dropdown03"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bi bi-person-bounding-box p-2"></i>
            {{ (user$ | async)?.email }}
          </a>

          <ul class="dropdown-menu" aria-labelledby="dropdown03">
            <li>
              <a class="dropdown-item" href="#"
                ><i class="bi bi-sliders m-2"></i>My Preferences</a
              >
            </li>
            <li>
              <a appLogout class="dropdown-item" href="#"
                ><i class="bi bi-people m-2"></i>Sign out</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
